* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100px;
    height: 40px;
}

main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 32px 16px;
    min-height: 76vh;
}

header {
    align-items: center;
    background-color: #f47d1f;
    box-shadow: 2px 1px 5px #8b5e1f;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 32px;
}

header input {
    border: none;
    padding: 10px;
    width: 20%;
}

footer {
    align-items: center;
    background-color: #f47d1f;
    box-shadow: 2px -2px 5px #8b5e1f;
    bottom: 0;
    color: white;
    display: flex;
    height: 12vh;
    justify-content: center;
    width: 100%;
}